*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .box1{
    display: flex;
    align-items: center;
    justify-content: center;
}


header .box1 .input{
    display: flex;
    align-items: center;
    justify-content: center;
}